body{
	width: 100%;
	background-color: white;
	margin: 0px auto;
}

.row::after{
	content: "";
	clear: both;
	display: table;
}
[class*="col-"]{
	float: left;
}

/*menu css start*/
.menu{
	background-color: white;
	height: 60px;
	box-shadow: 0px 3px 5px gray;
	position: fixed;
	position: top;
	right: 0px;
}
.InMenu{
	
	width: 97%;
	height: 40px;
	padding: 10px 20px;
}
.menu-left{
	
	float: left;	
}
.menu-right{
	
	float: right;
	width: 350px;
}


.menu a{
	
	letter-spacing: 4px;
	text-decoration: none;
	color: black;
	display: block;
	float: left;
	padding: 10px 20px;
}

.menu a:hover{
	background-color: #CAC9C9 ;
}
/*menu css end*/

/*banner css start*/
.banner{
	
	background-image: linear-gradient(to right, rgba(0,0,0,.01), rgba(0,0,0,.1)),url("./image/architect.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.bannerTital{
	height: 70px;
	margin: 0px auto;	
}
.bannerTital b{
	
 float: left;
 color: white;
 font-size: 40px;
 letter-spacing: 2px;
 padding: 10px;
 background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7));
}
.bannerTital p{
	
 float: left;
 color: white;
 font-size: 40px;
 letter-spacing: 2px;
 margin: 10px;
 }
/*banner css end*/



.container{
	background-color: white;
	
}

.Projects{
	width: 95%;
	margin: 0px auto;
	margin-top: 10px;

}

.Projects-p{
color: black;
font-size: 25px;
margin-top: 50px;
margin-bottom: 25px;
}
.Projects hr{
	color: black;
	border: .02px solid black;
	opacity: .4;
	margin-bottom:20px;

}

.ProjectsItem{
	width: 95%;
	margin: 0px auto;

}
.item{
	background-color: white;
	margin-bottom: 15px;
	position: relative;

}

.ProjectsItem img{
	padding: 0px 5px;
	width: 97%;

}

.ItemTitle{
	
	display: block;
	color: white;
	background-color: black;
	padding: 15px;
	position: absolute;
	left: 5px;
	top: 0px;
}


.About{
	font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 40px;
}


/*ProjectsMember start*/
.ProjectsMember{
	width: 95%;
	margin: 0px auto;
	
}
.ProjectsMember img,h2,h4,p{
	padding: 0px 5px;
	width: 97%;
}
.Member{
	margin-bottom: 20px;
}
.Member h4{
	color: #CAB6B1;
}

.Member a{
	display: block;
	width: 96%;
	margin: 0px auto;
	font-size: 20px;
	padding: 10px 0px;
	color: black;
	background-color: #E9E2DF;
	text-decoration: none;
	text-align: center;
}

.Member a:hover{
	background-color: #B0A8A5;	
}
/*ProjectsMember end*/


/* form start*/
.form{
	width: 95%;
	height: 300px;
	margin: 0px auto;
	
}

.formdiv input{
	height: 40px;
	float: left;
	width: 99.6%;
	border: 1px solid gray;
    margin: 6px 0px;
    font-size: 16px;
}



.formdiv button{
	height: 40px;
	float: left;
	padding: 5px 15px;
	border: 0px ;
    margin: 6px 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
}
/* form end*/


.botomImage{
	width: 95%;
	margin: 0px auto;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0)),url("./image/map.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}


.footer{
	height: 60px;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 20px 0px;
}






/*position: relative;
position: absolute;*/

/* Mobile view start*/
@media only screen and (max-width: 600px){
    [class*="col-"] {
    width: 100%;
  }

/*menu css start*/
.menu{
	background-color: white;
	height: 60px;
	box-shadow: 0px 3px 5px gray;
	position: fixed;
	right: 0px;
}
.InMenu{
	width: 100%;
	height: 35px;
	padding: 10px 5px;
}
.menu-left{
	float: left;	
}
.menu-right{
	width: 220px;
	margin-right: 10px;
	float: right;	
}
.menu a{	
	letter-spacing: 2px;
	padding: 10px 5px;
}
/*menu css end*/


/*banner css start*/	
.banner{
	height: 220px;
}
.bannerTital{
	width: 70px;
	height: 60px;
	margin-top: 90px;
}
.bannerTital b{
 font-size: 30px;
 letter-spacing: 2px;
 padding: 12px 15px;
 background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7));
}
.bannerTital p{

display: none;
}
/*banner css end*/

.ProjectsItem{
	height: 1950px;
}

.ProjectsMember{	
	height: 1800px;
}

.formdiv input{	
	width: 98%;
}

.botom{
	height: 210px;
}
.botomImage{
	height: 200px;
}


}
/* Mobile view end*/



/*Tab view start*/
@media only screen and (min-width: 601px){
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
	
/*banner css start*/
.banner{
	height: 400px;
}
.bannerTital{
	width: 250px;
	height: 60px;
	margin-top: 170px;
}
.bannerTital b{
 font-size: 33px;
 letter-spacing: 2px;
 padding: 8px;
 background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7));
}

.bannerTital p{
 width: 155px;
 font-size: 33px;
 letter-spacing: 2px;
 margin: 8px;
}
/*banner css end*/

.ProjectsItem{
	height: 1050px;
}

.ProjectsMember{	
	height: 950px;
}

.formdiv input{	
	width: 99%;
}


.botom{
	height: 420px;
}
.botomImage{
	height: 400px;
}


}
/*Tab view end*/

/*Desktop view start*/
@media only screen and (min-width: 769px){

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/*banner css start*/
.banner{
	height: 800px;
}
.bannerTital{
	width: 320px;
	height: 70px;
	margin-top: 350px;
}
.bannerTital b{
 font-size: 45px;
 letter-spacing: 2px;
 padding: 10px;
 background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7));
}
.bannerTital p{
 width: 200px;
 font-size: 45px;
 letter-spacing: 2px;
 margin: 10px;
}
/*banner css end*/

.ProjectsItem{
	height: 500px;

}

.ProjectsMember{	
	height: 480px;
}

.botom{
	height: 820px;
}
.botomImage{
	height: 800px;
}



	
}
/*Desktop view end*/